<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    <title>404</title>
</head>

<body>
    <main>
        
            <h1>404 Page non trouvée</h1>
      
    </main>
</body>
</html>


{#Créez une nouvelle page, dans votre classe PageController, nommée 404
Créez un fichier twig 404.html.twig affichant "page non trouvée"
Dans la fonction de controleur, générez le html issu du fichier twig 404 en utilisant la fonction $this->renderView
Retournez une réponse HTTP incluant le HTML généré et un status 200#}