{% extendes 'base.html.twig' %}


{% block main %}
    <main class="main">
        <h1>Categorie de l'article</h1>
        <section>
            <article>
                <h2>{{ category.title }}</h2>
                <p>{{ category.description }}</p>
                <p>{{ category.color }}</p>
                <p>Créé le {{ article.createdAt | date('d/m/Y H:i:s') }}</p>
            </article>
        </section>
    </main>
{% endblock main %}