{% extendes 'base.html.twig' %}

{% block metatitle %}
    Toutes les categories de l'article
{% endblock metatitle %}


{% block main %}
    <main class="main">
        <h1>Liste des categories de l'article</h1>
        <section>
            <article>
            <div>
                {% for category in categories %}
                <a href="{{ path('details-category', { id: category.id }) }}">  {# Lien vers la page de la catégorie #}
                    <article style="background-color: {{ category.color }};" class="article">  {# Donne une classe par couleur aux catégories #}
                        <h3>{{ category.title }}</h3>    
                    </article>
                {% endfor %}
            </div>
        </section>
    </main>
{% endblock main %}