{% extends 'base.html.twig' %}


{% block main %} 
    <h1>Modifier un article</h1>

    <form method="POST">
        <div>
            <label for="title">Titre:</label>
            <input type="text" id="title" name="title" value="{{ article.title }}">
        </div>
        <div>
            <label for="content">Contenu:</label>
            <textarea id="content" name="content">{{article.content}}</textarea>
        </div>
        <div>
            <label for="description">Description:</label>
            <textarea id="description" name="description">{{article.description}}</textarea>
        </div>
        <div>
            <labelfor="image">Image:</label>
            <input type="text" id="image" name="image" value="{{article.image}}">
        </div>
        <button type="submit">Supprimer l'article</button>
    </form>
{% endblock main %}
    